body {
    padding: 20px;
    
}
.one {
    background-color: #370617;
}

.card__first {
    justify-content: center;
    align-items: stretch;
    display: flex;
}


.card__1 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    height: 25vh; 
    border-radius: 15px;
    margin: 20px;  
    align-items: flex-end;
}

.card__1__1 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh; 
    border-radius: 10px;
    margin: 20px; 
}
.card__1__2 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh; 
    border-radius: 10px;
    margin: 20px; 
}
.card__1__3 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh; 
    border-radius: 10px;
    margin: 20px; 
}


.card__2 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    height: 25vh; 
    border-radius: 15px;
    margin: 20px;
    justify-content: center;
    align-items: stretch;    
} 
.card__2__1 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    /* height: 10vh;  */
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__2__2 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    /* height: 10vh;  */
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__2__3 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    /* height: 10vh;  */
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}



.card__second {
    justify-content: center;
    align-items: stretch;
    display: flex;   
}

.card__3 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    height: 25vh; 
    border-radius: 15px;
    margin: 20px; 
    justify-content: flex-end; 
    align-items: center;  
    
}
.card__3__1 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
     
}
.card__3__2 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    


}
.card__3__3 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    
}



.card__4 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    height: 25vh; 
    border-radius: 15px;
    margin: 20px;  
    justify-content: space-between;
      
} 
.card__4__1 {
        background-color: #9D0208;
        display: flex;
        width: 10vh;
        height: 10vh;  
        border-radius: 10px;
        margin: 20px; 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__4__2 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__4__3 {
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-end;
    
}


.card__third {
    justify-content: center;
    align-items: stretch;
    display: flex;   
}
.card__5 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    /* height: 25vh;  */
    border-radius: 15px;
    margin: 20px; 
    align-content: stretch; 
    justify-content: center;  
} 
.card__5__1{
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    /* height: 10vh;  */
    border-radius: 10px;
    margin: 20px; 
    justify-content: center;
    align-items: center;
    
}
.card__5__2{
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    justify-content: center;
    align-self: center;
    align-items: center;
    
}
.card__5__3{
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    /* height: 10vh;  */
    border-radius: 10px;
    margin: 20px; 
    justify-content: center;
    align-items: center;
    
}
.card__5__info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: small;
    display: flex;

}



.card__6 {
    background-color: #F48C06;
    display: flex;
    width: 100%;
    height: 25vh; 
    border-radius: 15px;
    margin: 20px; 
    align-items: center; 
    justify-content: center;  
} 
.card__6__1{
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__6__2{
    background-color: #9D0208;
    display: flex;
    width: 40vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    
}
.card__6__3{
    background-color: #9D0208;
    display: flex;
    width: 10vh;
    height: 10vh;  
    border-radius: 10px;
    margin: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);   
}

.two {
    background-color: #FAA307;
    
}

.circle__first {
    padding: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle__1{
    background-color: #03071E;
    display: flex;
    width: 40vh;
    height: 25vh; 
    
}
.circle__2{
    background-color: #6A040F;
    display: flex;
    width: 40vh;
    height: 25vh; 
    
}

.circle__3{
    background-color: #03071E;
    display: flex;
    width: 40vh;
    height: 25vh; 
    
}


